.mainbanner {
  position: relative;
  width: 100%;
  margin-top: 60px;
  overflow: hidden;

  &-slider {
    margin-right: -15px;
    margin-left: -15px;

    .main-slider-item {
      img {
        width: 100%;
      }
    }

    .slider-control {
      @include pos-center-x;
      bottom: 8px;

      .control-button {
        width: 4px;
        height: 4px;
        margin: 0 2px;
        background-color: $white;
        border-radius: 50%;
        opacity: 0.7;
        transform: scale(1);
        transition: transform 150ms ease-in-out;

        &.tns-nav-active {
          opacity: 1;
          transform: scale(1.2);
        }
      }
    }
  }

  @include responsive(T) {
    margin-top: 80px;

    &-slider {
      margin-right: -40px;
      margin-left: -40px;

      .slider-control {
        bottom: 16px;

        .control-button {
          width: 6px;
          height: 6px;
          margin: 0 4px;
        }
      }
    }
  }

  @include responsive(D) {
    margin-top: 140px;

    &-slider {
      margin-right: 0;
      margin-left: 0;

      .slider-control {
        bottom: 24px;
      }
    }
  }
}
